@charset "UTF-8";

.match_schedule {
	width: 100%;
	height: 130px;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.match_day {
	text-align: center;
}

.match_vs {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	width:280px;
}

.match_score {
	width: 50%;
	margin: 0 20px;
	text-align: center;
	display:flex;
	justify-content: space-evenly;
	font-size: 50px;
}

.team_emblem {
	width: 40%;
	text-align: center;
}

.team_logo {
	width: 50px;
	height: 50px;
}

.match_time {
	text-align: center;
	position: absolute;
	top: 80%;
}

.owl-item{
	width: 400px;
	display:flex;
	justify-content: center;
}


.testimonial-item.equal-height.style-6 {
	background-color: #eee;
	border-radius: 10px;
	margin: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.testimonial-content.quote {
	padding: 17px 55px;
}

.et_right_sidebar #main-content .container:before {
	display: none;
}

.match_info_box {
	background:
		url(https://portal.kleague.com/images/portal/img-bg-login3.png)
		no-repeat bottom;
	background-color: #0b0e12;
	padding-bottom: 30px;
	height: 800px;
	min-height: 680px;
	background-size: cover;
	margin-bottom: 20px;
	padding-top: 15px;
}
.match_info_top{
	display:flex;
	padding: 0 10%;
}
.match_info_top_home, .match_info_top_away{
	width: 50%;
	height: 100px;
	color: white;
	
}

.match_info_top_home{
	border-right: 1px solid grey;
}

.match_info_home_detail, .match_info_away_detail{
	display: flex;
}

.match_home_info_img, .match_away_info_img{
	width:20%;
	height: 100px;
}

.match_home_info_formation, .match_away_info_formation{
	width:10%;
	height:100px;
	padding-top: 70px;
	text-align: center;
}

.match_home_info_name, .match_away_info_name{
	width: 45%;
	height: 100px;
	padding-top: 40px;
	text-align: center;
	font-size: 30px;
}


.match_home_info_goal, .match_away_info_goal{
	width: 25%;
	height: 100px;
	padding-top: 40px;
	text-align: center;
	font-size: 30px;
}


.match_info_detail{
	width: 100%;
    height: 700px;
    background: url(/resources/img/field.jpeg) no-repeat 100%;
    background-size: 80% 90%;
    background-position: center;
    display: flex;
    padding: 0 13%;
}

.match{
	display: flex;
	height: 100%;
}

.match_home, .match_away{
	width:50%;
	height: 100%;
}

.match_info_top{
	height: 80px;
    width: 100%;
    margin-top: 30px;
}

.match_team_emblem{
	width: 100px;
	height:100px;
}


.rank_info_box{
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}

.team_rank_box{
	width: 60%;
}

.personal_rank_box{
	width: 40%;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  height: 900px;
}
th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
 
}
td:first-child {
  border-left: 1px solid #c6c9cc;
   background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.team_data_box{
	display: flex;
	justify-content: space-around;
}

.data_bar_graph{
	width: 33%;
	height: 300px;
	background-color: black;
}

.personal_data_box{
	display: flex;
	justify-content: space-around;
}

.data_circle_graph{
	width: 49%;
	height: 300px;
	background-color: yellow;
}

.data_visibility_box{
	width:100%;
}

.data_bubble_chart, .data_word_cloud{
	width: 100%;
	height: 500px;
	background-color: green;
	margin-bottom: 20px;
}

.player_info{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.goalkeeperBox, .defendersBox, .midfieldersBox, .forwardsBox, .strikerBox, .defendermidfieldersBox{
	display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.goalkeeperBox, .strikerBox{
	justify-content: center;
}

.player_imgBox{
	border-radius: 50%;
	width: 40%;
	margin-left: 5px;
}

.player_no, .player_name{
	text-align: center;
}

.player_personal_info{
	display: flex;
	color: white;
}

.player_img{
	width:100%;
	border-radius: 50%;
	height: 100%;
}










